$navy: #112F41;
$navy-light: rgb(23, 50, 66);
$white: #e7e7e7;
$grey-light: #dfdfdf;
$grey: #35495e;
$teal: #068587;
$teal-light: #4FB99F;
$teal-dark: #3b8070;
$yellow: #F2B134;
$main-bg-color: coral;
$blue-developer: #7aa3c8;
$red-designer: #ca6d56;

$color-bg: 'color-bg';
$color-text: 'color-text';
$color-btn: 'color-btn';
$color-title: 'color-title';
$color-content: 'color-content';

$themes: (
  light: (
    color-bg: $white,
    color-text: $navy,
    color-btn: $grey,
    color-content: $grey-light,
    color-title: $teal-dark

  ),
  dark: (
    color-bg: $navy,
    color-text: $white,
    color-btn: $teal-dark,
    color-content: $navy-light,
    color-title: $yellow
  )
);

// mixin themed
@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}